<section id="experiencia">
    <div class="row">
        <h1>Experiencia Laboral</h1>
        
        <div class="col lg-8">
            <ul>
                <li><h1>Trabajo 1</h1></li>
                <p><strong>Institución:</strong> GERDAU</p>
                <P><strong>Cargo:</strong> Enfermera</P>
                <p><strong>Periodo:</strong> 2020-2022</p>
            </ul>
            <ul>
                <li><h1>Trabajo 2</h1></li>
                <p><strong>Institución:</strong> Hospital Escuela Eva Perón</p>
                <P><strong>Cargo:</strong> Enfermera</P>
                <p><strong>Periodo:</strong> 2018-2020</p>
            </ul>
            <ul>
                <li><h1>Trabajo 3</h1></li>
                <p><strong>Institución:</strong> SISOL</p>
                <P><strong>Cargo:</strong> Coordinadora del área estadística</P>
                <p><strong>Periodo:</strong> 2007-2011</p>
            </ul>
        </div>
        <div class="col lg-4"><div>

            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#edExpModal">
                    <i class="fa-solid fa-pen"></i>
                </button>
                 
                  </div>
                <div class="col">
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliExpModal">
                    <i class="fa-solid fa-trash"></i>
                </button>
               </div>
                
                 <div class="col">
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#agrExpModal">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
           
            
        </div></div>

    </div>
</section>
<app-experiencia-modal></app-experiencia-modal>
