<section id="sobremi">
    <div class="row">
        <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2">
            <img src="../../../assets/edu.jpg" alt="" class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2">
            <p id="nombre">Reyna Sucari</p>
            <p>Full Star Developer Jr</p>
        </div>
        <div class="col-xs-12 col-ms-8 col-md-8 col-lg-8">
            <span>
                <h1>Sobre Mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem minima ipsam
                     blanditiis tempora quisquam quas, doloribus nostrum incidunt accusamus quod 
                     aliquam harum exercitationem maxime sunt et dignissimos temporibus libero quasi!</p>
            </span>
        </div>

    </div>
</section>
