.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
   
}
i{
    padding: 2rem;
    width: 100px;
}
button{
    border: 0;
}
@media (max-width:575px) {
    .container{
        display: flex;
        flex-direction:column;
        align-items: center;
     
    }

}

