
  <div class="row">
    <div class="container">
        <div class="logo">
         <a class="navbar-brand" href="#"><img src="../../../assets/logo.png" alt="arg-prog" height="70rem"></a>
        </div>
        <div class="redes">
          <a href="" ><i class="fa-brands fa-facebook-f"></i></a>
          
          <a href="" ><i class="fa-brands fa-square-git"></i></a>
          <!--<button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-key"></i></button>
        </div>
     <!Button login -->
     <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#loginModal">
      <i class="fa-solid fa-house"></i>
  </button>
  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-key"></i>
</button>
    
  </div>
  </div>
  <app-login-modal></app-login-modal>
    
   
    